
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: pink;
    color: black;
    padding: 15px;
    text-align: center;
}

header nav {
    margin-top: 10px;
}

header nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}
main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.filter-buttons button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: #0056b3;
}

.logout-btn, .reset-attendance-btn {
    background-color: red;
}

.logout-btn:hover, .reset-attendance-btn:hover {
    background-color: darkred;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #32d5dd;
    color: white;
}

td {
    background-color: aquamarine;
}

td.actions {
    text-align: center;
}

button.delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: darkred;
}

button.mark-btn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button.mark-btn:hover {
    background-color: darkgreen;
}

td.present {
    background-color: #4CAF50;
    color: white;
}

td.absent {
    background-color: red;
    color: white;
}

td.not-marked {
    background-color: lightgray;
    color: black;
}
footer {
    background-color: pink;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
